<!DOCTYPE html>
<html>

{{ partial "head.html" }}

<body>
	<input type="checkbox" id="nav-trigger">
	<div id="top">
		<a href="#title" class="nav">{{ $.Params.top }}</a>
		<label for="nav-trigger">&#9776;</label>
	</div>

	<div id="sidebar">
		<nav>
			<ul>
				{{ range $index, $sec := $.Params.sections }}
					<li><a href="#{{ $sec }}{{ $index }}">{{ index $.Params.titles $index }}</a></li>
				{{ end }}
			</ul>
		</nav>
	</div>

	<div id="main">
		<div class="section">
			<span id="title" tabindex="-1"></span>
			<div id="bg-img"></div>
			<h1>{{ $.Params.name }}</h1>
		</div>

		

		{{ range $index, $section := $.Params.sections }}
			<div class="section {{ $section }}">
				<span id="{{ $section }}{{ $index }}" tabindex="-1"></span>
				<h2>
					{{ if isset (index $.Site.Data $section) "_index" }}
						{{ (index $.Site.Data $section)._index.title }}
					{{ else }}
						{{ (index $.Site.Data $section).title }}
					{{ end }}
				</h2>
				<div class="body">
					{{ if (isset (index $.Site.Data $section) "_index" ) }}
						{{ range (sort (index $.Site.Data $section) (index $.Site.Data $section)._index.field "desc") }}
							{{ if (ne .type "index") }}
								{{ partial (print "element/" $section ".html") (dict "Params" . ) }}
							{{ end }}
						{{ end }}
					{{ else }}
						{{ partial (print "section/" $section ".html") (dict "Params" (index $.Site.Data $section)) }}
					{{ end }}
				</div>
			</div>
		{{ end }}

	</div>
</body>

</html>